body {
  min-width: 960px;
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  margin-bottom: 59px;
  padding-bottom: 59px;

  font-family: "Cuprum", Arial, sans-serif;

  background: #f1f5f7;
}

.header-top-bar {
  margin-bottom: 46px;

  font-size: 17px;
  line-height: 18px;
  background: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;

  display: block;

  width: 110px;
  padding: 13px 55px 9px;

  background: #ee3643;
}

.logo::after {
  content: "";
  position: absolute;
  top: 43px;
  left: 0;

  width: 100%;

  border-bottom: 5px solid #b52933;
}

.logo:hover,
.logo:focus {
  background: #ca2c37;
}

.logo:hover::after {
  border-bottom: 5px solid #9a212a;
}

.logo:active {
  background: #ba2732;
}

.logo:active::after {
  border-bottom: 5px solid #8e1e26;
}

.search {
  position: relative;

  width: 270px;
  padding: 13px 48px 11px;

  color: #ffffff;

  background-color: #293449;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 16px 13px;
  border: none;
}

.search:hover {
  background: #212a3a;
}

.search:focus {
  color: #000000;
  background: #ffffff;
}

.user-info {
  display: flex;
  width: 300px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-info-item {
  position: relative;

  display: block;
  padding: 13px 31px 13px 44px;

  color: #ffffff;
}

.bookmark::before {
  content: "";

  position: absolute;
  left: 15px;

  width: 16px;
  height: 18px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.cart::before {
  content: "";

  position: absolute;
  left: 12px;

  width: 16px;
  height: 18px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmark:hover::before,
.cart:hover::before,
.bookmark:focus::before,
.cart:focus::before {
  opacity: 1;
}

.bookmark:hover,
.cart:hover,
.bookmark:focus,
.cart:focus {
  background: #212a3a;
}

.bookmark:active::before,
.cart:active::before {
  opacity: 0.5;
}

.bookmark:active,
.cart:active {
  opacity: 0.6;
  background: #161d29;
}

.order {
  display: block;
  width: 112px;
  padding: 13px 19px 11px;

  color: #ffffff;
  background: #63a63e;
}

.order:hover,
.order:focus {
  background: #5fbb2d;
}

.order:active {
  background: #518534;
  color: rgba(255, 255, 255, 0.5)
}

.slogan {
  width: 200px;
  margin: 0;
  padding: 3px 51px;

  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header address,
.user-navigation {
  width: 300px;
}

.header-phone {
  width: 195px;
  margin: 0;
  padding: 9px 0px 9px 69px;

  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 10px 9px;
  border: 3px solid #ffffff;
}

.header-address {
  margin: 0;
  padding: 4px 7px;

  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 67px;
  padding: 0;

  list-style: none;
}

.user-navigation-item {
  position: relative;

  display: block;
  margin-left: 10px;
  padding: 12px 25px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background: #ffffff;
}

.login {
  padding-left: 47px;
}

.login svg {
  position: absolute;
  top: 13px;
  left: 14px;
}

.user-navigation-item:hover,
.user-navigation-item:focus {
  color: #ee3643;
}

.user-navigation-item:hover path,
.user-navigation-item:focus path {
  fill: #32425c;
}

.user-navigation-item:active,
.user-navigation-item:active path {
  color: rgba(0, 0, 0, 0.3);
  fill: #c5c5c5;
}

.hide {
  display: none;
}

.loged {
  width: 235px;
  margin-left: 0;
  padding: 12px 22px 12px 45px
}

.loged svg {
  position: absolute;
  top: 13px;
  left: 14px;
}

.last {
  left: 100px;
}

.account-links {
  display: flex;
  justify-content: space-around;
  width: 300px;

  list-style: none;
}

.account-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.header-navigation {
  display: flex;
  width: 905px;
  margin: 0 auto;
  padding: 0 18px;

  font-size: 17px;
  line-height: 17px;

  background: #32425c;
  border-bottom: 5px solid #293449;
  list-style: none;
}

.header-navigation a {
  display: block;
  padding: 19px 31px;

  color: #ffffff;
}

.header-navigation a:hover,
.header-navigation a:focus {
  background: #293449;
}

.header-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background: #1d2739;
}


.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin-top: -41px;

  list-style: none;
}

.breadcrumbs a {
  position: relative;
  display: block;
  margin-right: 40px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs-current::after {
  display: none;
}


.breadcrumbs a::after {
  content: "";

  position: absolute;
  top: 7px;
  right: -23px;

  width: 8px;
  height: 8px;

  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);

  transform: rotate(45deg);
}

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-title {
  width: 920px;
  margin: 19px 0 20px;
  padding: 28px 26px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  text-transform: uppercase;

  background: #f2f6f8;
}

.filters-title,
.sort-title {
  padding: 0 17px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-filter fieldset:last-of-type {
  margin-bottom: 60px;

  border-bottom: none;
}

.catalog-filter {
  width: 220px;
}

.catalog-filter .title-backgroung {
  margin: 0;
}

.catalog-filter h3 {
  margin: 15px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-filter {
  margin-bottom: 27px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 9px;
  padding-top: 38px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f9f5f0;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 28px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 140px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.price-controls input {
  width: 74px;
  padding: 8px 10px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #283136;

  border: none;
  background: #f9f5f0;
}

.max-price {
  text-align: right;
}

.separator {
  font-size: 16px;
  line-height: 18px;
}

.filter-supplier,
.filter-power {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-supplier label,
.filter-power label{
  position: relative;
  display: block;
  padding-left: 33px;
  margin: 19px 0;
}

.filter-supplier label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg");
  opacity: 0.78;
}

.filter-supplier label:hover::before {
  opacity: 1;
}

.filter-input-checkbox:checked + label::before {
  width: 26px;
  background: url("../img/checkbox-on.svg");
}

.filter-supplier,
.filter-power {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-power label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg");
  opacity: 0.78;
}

.filter-power label:hover::before {
  opacity: 1;
}

.filter-input-radio:checked + label::before {
  background: url("../img/radio-on.svg");
}

.filter-button {
  padding: 10px 37px;

  font-size: 13px;
  line-height: 18px;

  background: #ffffff;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
}

.catalog-products {
  width: 700px;
}

.sort-types,
.sort-orders {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-types {
  display: flex;
  width: 355px;
  margin-left: 95px;

  text-transform: uppercase;
}

.sort-type {
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted #ee3643;
}

.sort-type:hover,
.sort-type:focus {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}

.sort-type:active {
  color: #ee3643;
  opacity: 1;
  border-bottom: none;
}

.sort-types .active {
  color: #ee3643;
  opacity: 1;
  border-bottom: none;
}

.sort-orders {
  display: flex;
  justify-content: space-between;
  width: 41px;
  padding: 0 20px;
}

.sort-order {
  opacity: 0.3;
}

.sort-order:hover,
.sort-order:focus {
  opacity: 1;
}

.sort-orders .active {
  opacity: 1;
}

.sort-orders .active path {
  fill: #ee3946;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 35px;
  font-family: "Cuprum", Arial, sans-serif;
}

.category {
  position: relative;
  overflow: hidden;
  width: 256px;
  margin-bottom: 18px;
  padding: 22px;
}

.new::before {
  content: "new";
  position: absolute;
  z-index: 20;

  width: 90px;
  height: 25px;
  padding-top: 4px;

  font-size: 15px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-align: center;

  background: #ff5357;
  transform: rotate(45deg);
}

.categories .new::before {
  top: 7px;
  right: -23px;
}

.category h3 {
  margin-top: 0;
  margin-bottom: 12px;

  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.main-button {
  display: block;
  padding: 11px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #ee3643;

  border-radius: 3px;
}

.main-button:hover,
.main-button:focus {
  background: #ca2c37;
}

.main-button:active {
  background: #ba2732;
}

.category-link {
  width: 135px;
  background: rgba(0, 0, 0, 0.1);
}

.category-link:hover,
.category-link:focus {
  background: rgba(0, 0, 0, 0.2);
}

.category-link:active {
  background: rgba(0, 0, 0, 0.3);
}

.categories .material {
  background-color: #ffbf47;
  background-image: url("../img/icon-paint.svg");
  background-repeat: no-repeat;
  background-position: 212px 31px;
}

.categories .instrument {
  background-color: #3bbce3;
  background-image: url("../img/icon-drill.svg");
  background-repeat: no-repeat;
  background-position: 197px 34px;
}

.categories .tech {
  background-color: #dc91d8;
  background-image: url("../img/icon-tractor.svg");
  background-repeat: no-repeat;
  background-position: 191px 33px;
}

.categories .discount {
  background-color: #8ed78f;
  background-image: url("../img/icon-basket.svg");
  background-repeat: no-repeat;
  background-position: 195px 26px;
}

.categories .delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-delivery-car.svg");
  background-repeat: no-repeat;
  background-position: 190px 31px;
}

.category-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  order: 1;
}

.category-slider {
  position: relative;

  width: 621px;
  height: 266px;
}

.category-slider-controls {
  position: absolute;
  left: 50%;
  bottom: 20px;

  margin-left: -23px;
}

.category-slider-control {
  position: relative;

  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 5px;

  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.category-slider-control:focus {
  box-shadow: 0 0 0 3px #2f7cc0;
}

.category-slider-control::after {
  content: "";

  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background: #ffffff;
  border-radius: 50%;
}

.category-slider-list {
  margin: 0;
  padding: 0;

  color: #ffffff;
  list-style: none;
}

.category-slider-item {
  display: none;
  width: 621px;
  height: 266px;
  padding: 24px;
}

.category-slider-item:nth-child(1) {
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
}

.category-slider-item:nth-child(2) {
  background-image: url("../img/slide-2.jpg");
  background-repeat: no-repeat;
}

#product-1:checked ~ .category-slider-list .category-slider-item:nth-child(1),
#product-2:checked ~ .category-slider-list .category-slider-item:nth-child(2) {
  display: block;
}

#product-1:checked ~ .category-slider-controls .category-slider-item--1::before,
#product-2:checked ~ .category-slider-controls .category-slider-item--2::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 6px;
  height: 6px;
  margin: -3px;

  background: #ee3643;
  border-radius: 50%;
}

.category-slider h3 {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.category-slider p {
  margin: 0;
  margin-bottom: 120px;

  font-size: 18px;
  line-height: 24px;
}

.category-slider-button {
  width: 195px;
}

.title-backgroung {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  background: #f9f5f0;
}

.popular-products h2,
.popular-brands h2 {
  margin: 0;
  padding: 29px 27px 25px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  color: #32425c;
}

.title-button {
  width: 253px;
  margin-right: 25px;
}

.products,
.brands {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  list-style: none;
}

.product {
  position: relative;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 220px;
  margin-bottom: 20px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
}

.product:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product img {
  order: -1;
  margin-bottom: 7px
}

.product-title {
  margin: 0 15px 12px;

  font-size: 18px;
  line-height: 20px;
}

.old-price {
  margin: 0;

  font-weight: bold;
  color: #a9a9a9;
  text-decoration: line-through;
}

.price-disabled {
  visibility:hidden;
}

.product .new-price {
  position: relative;

  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 11px 30px;

  font-weight: bold;
  color: #ffffff;

  background: #ee3643;
  border-radius: 3px;
}

.product .new-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

.products .new::before {
  top: 4px;
  right: -24px;
}

.product-actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  width: inherit;
  padding: 40px 0;

  background: #ffffff;
}

.product:hover .product-actions {
  display: block;
}

.product-buy,
.product-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
}

.product-buy:hover,
.product-buy:focus {
  background: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.product-buy:active {
  background: #518534;
  border-color: #518534;
}

.product-bookmark {
  color: #32425c;

  background: white;
  border-bottom-color: #63a63e;
}

.product-bookmark:hover,
.product-bookmark:focus {
  border-color: #32425c;
}

.product-bookmark:active {
  opacity: 0.3;
}

.brands {
  margin-bottom: 70px;
}

.brand a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 145px;
  margin-bottom: 15px;

  border: 1px solid rgba(0, 0, 0, 0.1);
}

.brand a:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand a:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brand a:active img {
  opacity: 0.3;
}

.services-background {
  background: #f4f7f9;
}

.services {
  border-top: 1px solid transparent;
  margin-bottom: 16px;
}

.services h2,
.company h2,
.contacts h2 {
  margin: 63px 0 26px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}

.services p {
  width: 400px;
  margin-bottom: 68px
}

.servises-slider {
  display: flex;
  flex-direction: row;
}

.services-slider-controls {
  margin-right: 81px;
}

.services-slider-control{
  display: block;
  width: 197px;
  padding: 16px 21px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;

  background: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  list-style: none;
  cursor: pointer;
}

.services-slider-control:hover {
  background: #293449;
}

.service-description {
  display: none;
  min-height: 258px;
  padding-right: 350px;
}

.service-description h3 {
  margin: 0;
  margin-bottom: 23px;

  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.service-description p {
  width: 280px;
  margin-bottom: 28px;
}

.service-description:nth-child(1) {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 151px 25px;
}

.service-description:nth-child(2) {
  background-image: url("../img/garantee.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.service-description:nth-child(3) {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: right top;
}

#service-1:checked ~ div .service-description:nth-child(1),
#service-2:checked ~ div .service-description:nth-child(2),
#service-3:checked ~ div .service-description:nth-child(3) {
  display: block;
}

#service-1:checked ~ .services-slider-controls .services-slider-item-1,
#service-2:checked ~ .services-slider-controls .services-slider-item-2,
#service-3:checked ~ .services-slider-controls .services-slider-item-3 {
  color: #32425c;
  background: #ffffff;
  border: none;}

.credit-button {
  width: 195px;
}

.about-company {
  display: flex;
  justify-content: space-between;
}

.company {
  width: 540px;
  margin-bottom: 84px;
}

.company p {
  margin-bottom: 22px;
}

.company-button {
  width: 220px;
}

.company-delivery {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.company-delivery li {
  margin-bottom: 20px;
}

.contacts {
  width: 300px;
}

.contacts-button {
  width: auto;
}

.contacts p {
  margin-bottom: 30px;
  padding-right: 80px;
}

.map {
  margin-bottom: 33px;
}

.paginator {
  width: 100%;
  margin: 39px 0 69px;

  font-size: 13px;
  line-height: 18px;

  text-transform: uppercase;
}

.paginator a {
  padding: 10px 15px;
  margin-right: 5px;
  border: 1px solid #e5e5e5;
  color: #000000;
  border-radius: 3px;
}

.paginator a:hover,
.paginator a:focus {
  border: 1px solid #bdc6ca;
}

.paginator a:active {
  border: 1px solid #ee3643;
}

.paginator .page-active {
  background: #ee3643;
  color: #ffffff;
  border: 1px solid #ee3643;
  border-radius: 3px;
}

.catalog-background {
  background: #f4f7f9;
}

.catalog-description {
  padding: 66px 0 54px;
}

.catalog-description h2 {
  margin: 0;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.footer {
  font-family: "Cuprum", Arial, sans-serif;

  background: #32425c;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo {
  position: relative;

  display: block;
  width: 140px;
  margin-bottom: 27px;
  padding: 18px 40px 20px;

  background: #ee3643;
}

.footer-logo::after {
  content: "";
  position: absolute;
  top: 67px;
  left: 0;

  width: 100%;

  border-bottom: 5px solid #b52933;
}

.footer-logo:hover,
.footer-logo:focus {
  background: #ca2c37;
}

.footer-logo:hover::after {
  border-bottom: 5px solid #9a212a;
}

.footer-logo:active {
  background: #ba2732;
}

.footer-logo:active::after {
  border-bottom: 5px solid #8e1e26;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin-top: 36px;

  list-style: none;
}

.footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-navigation a:hover,
.footer-category a:hover,
.footer-navigation a:focus,
.footer-category a:focus {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-category a:active {
  opacity: 0.5;
}

.footer-address {
  width: 335px;
  margin-bottom: 50px;

  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: #ffffff;
}

.footer-category {
  display: flex;
  justify-content: space-between;
  width: 526px;
  margin: 0;

  list-style: none;
}

.footer-category a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-bar {
  background: #293449;
}

.footer-copyright {
  width: 240px;
  margin: 37px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 131px;
  margin-left: -10px;
  margin-top: 34px;

  list-style: none;
}

.social-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background: #ee3643;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  margin: 20px 0;

  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

.footer-contacts {
  width: 140px;
}

.footer-developer {
  width: 114px;
}

.footer-info-link {
  color: #ffd180;
}

.footer-info-link:hover,
.footer-info-link:focus {
  text-decoration: underline;
}

.footer-info-link:active {
  color: #ee3643;
}
